/* 1. General Styles */

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #231f20;
}

p {
    font-size: 30px;
    font-family: 'Itim', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #231f20;
}

a:visited {
    color: #231f20;
}

.boxcolour {
    background-color: #AFAFAF;
}

.boxcolour2 {
    background-color: #7B7B7B;
}

.boxcolour3 {
    background-color: #3B3B3B;
}

.topbottom {
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

section, header {
    margin-top: 0;
    margin-bottom: 20px;
}

/* 2. Container and Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(8, 136px);
    grid-column-gap: 16px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 136px);
    grid-column-gap: 16px;
    grid-auto-rows: 0px;
}

#container {
    width: 1200px;
    margin: 0 auto;
    background-image: url(../images/starry_background.jpg);
}

/* 3. Header */

#main_header {
    display: grid;
    height: 150px;
    width: 1200px;
    position: fixed;
    z-index: 1;
}

#header_logo {
    height: 110px;
    width: 288px;
    margin-top: 20px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

#main_nav_1 {
    height: 110px;
    width: 440px;
    margin-top: 20px;
    grid-column: 3/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_nav_1 ul li, #main_nav_2 ul li {
    font-family: 'Showcard Gothic';
    font-size: 16px;
    border-right: 2px solid #707070;
    padding-right: 5px;
    padding-left: 5px;
    display: inline;
}

#main_nav_2 ul li {
    padding-right: 53.5px;
}

#main_nav_1 ul li:last-of-type, #main_nav_2 ul li:last-of-type {
    border-right: none;
}

#main_nav_2 {
    height: 110px;
    width: 288px;
    margin-top: 20px;
    grid-column: 7/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_nav_2 ul li:last-of-type {
    padding-left: 53.5px;
    padding-right: 0;
}

#main_nav_1 ul li a:hover, #main_nav_2 ul li a:hover {
    border-bottom: 3px solid #231f20;
    color: white;
}

.logo-desktop {
    width: 163.85px;
    height: 110.64px;
}

#top_logo:hover .cls-1-logo, #bottom_logo:hover .cls-1-bottom {
    fill: #f4f4f5;
}

/* 4. Visual Appeal */

#visual_appeal {
    height: 840px;
    width: 1200px;
    grid-column: 1/-1;
}

/* 5. Flavours */

#flavours {
    height: 600px;
    width: 1200px;
    grid-column: 1/-1;
}

#flavours_slider {
    height: 600px;
    width: 592px;
    grid-column: 1/5;
 }

#flavours_text {
    height: 410px;
    width: 440px;
    grid-column: 6/-1;
    margin-top: 95px;
    display: flex;
    align-items: center;
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

#flavours_text p {
    margin-top: 20px;
    text-align: left;
}

#flavours_text p:first-of-type, #flavours_text p:last-of-type {
    text-align: center;
}

#flavours_text p:first-of-type {
    text-shadow: #FFB62A 2px 2px;
}

/* 6. Collab */

#collab {
    height: 600px;
    width: 1200px;
    grid-column: 1/-1;
}

#new_flavour {
    height: 600px;
    width: 288px;
    grid-column: 1/3;
}

#collab_info {
    height: 600px;
    width: 440px;
    grid-column: 3/6;
    text-align: left;
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

#collab_info p {
    margin-top: 20px;
}

#collab_info p:first-of-type {
    text-align: center;
    text-shadow: #FF0705 2px 2px;
}

#imposter_flavour {
    color: #FF0705;
    text-shadow: #231f20 2px 2px;
}

#innersloth:hover {
    color: white;
}

#mascot {
    height: 600px;
    width: 440px;
    grid-column: 6/-1;
    display: flex;
    justify-content: right;
    align-items: end;
}

#orbula_png {
    height: 600px;
}

#red_crewmate {
    height: 250px;
    transform: scaleX(-1);
    position: absolute;
}

/* 7. Information */

#information {
    height: 600px;
    width: 1200px;
    grid-column: 1/-1;
}

#planets {
    flex-wrap: wrap;
}

#information_text {
    grid-column: 3/7;
    margin-top: 250px;
}

#collectibles_text {
    text-align: center;
    color: white;
    text-shadow: #231f20 2px 2px;
    position: relative;
}

#collectibles_text span {
    color: white;
}

#collectibles_text span:hover {
    color: #231f20;
    text-shadow: white 2px 2px;
}

#information img {
    position: absolute;
}

#slider_indicator {
    grid-column: 4/6;
    display: flex;
    align-content: flex-end;
}

#slider_indicator a {
    padding: 0;
    margin: 0;
}

#slider_indicator a:first-of-type {
    margin-left: 95px;
}

.circle {
    height: 26px;
    width: 26px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-top: 220px;
    margin-bottom: 10px;
}

/* 8. Updates */

#updates {
    height: 600px;
    width: 1200px;
    grid-column: 1/-1;
}

#update_1, #update_2, #update_3 {
    height: 600px;
    width: 288px;
}

#update_1 {
    grid-column: 1/3;
}

#update_2 {
    grid-column: 4/6;
}

#update_3 {
    grid-column: 7/-1;
}

#update_1 p:first-of-type, #update_2 p:first-of-type, #update_3 p:first-of-type {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.updateimage {
    height: 300px;
    width: 288px;
}

/* 9. Footer */

#main_footer {
    height: 530px;
    width: 1200px;
    grid-column: 1/-1;
}

#logo_footer {
    height: 110px;
    width: 288px;
    grid-column: 4/6;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#footer_nav {
    height: 277px;
    width: 440px;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#desktop-bottom-nav-1 li, #desktop-bottom-nav-2 li {
    font-family: 'Showcard Gothic';
    font-size: 16px;
    padding-bottom: 13.5px;
    border-bottom: #231f20 1px solid;
    margin-left: 30px;
    margin-top: 10px;
    width: 150px;
}

#desktop-bottom-nav-1 {
    padding-right: 25px;
    border-right: 1px solid #231f20;
}

#desktop-bottom-nav-1 li:last-of-type, #desktop-bottom-nav-2 li:last-of-type {
    border-bottom: none;
}

#desktop-bottom-nav-1 li a:hover, #desktop-bottom-nav-2 li a:hover {
    color: white;
}

#social_media_icons {
    height: 277px;
    width: 288px;
    grid-column: 4-6;
}

#row1 {
    margin-top: 47px;
}

#row2 {
    margin-top: 53px;
}

#newsletter {
    height: 277px;
    width: 440px;
    grid-column: 6/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newsletter_signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#newsletter p {
    text-align: center;
}

#email-news {
    margin-top: 20px;
    height: 40px;
    width: 335px;
}

#submit {
    margin-top: 20px;
    height: 35px;
    width: 70px;
    background-color: #231f20;
    color: white;
}

#send:hover, #submit:hover {
    background-color: white;
    color: #231f20;
}

.smicons {
    height: 65px;
    width: 65px;
    margin-right: 25.5px;
    display: inline-block;
}

.smicons:first-of-type {
    margin-left: 17px;
}

.smicons:last-of-type {
    margin-right: 17px;
}

#facebook_icon .cls-2-fb, #twitter_icon .cls-2-twt, #instagram_logo .cls-1-ins, #youtube_icon .cls-2-yt, #reddit_icon .cls-2-reddit, #tumblr_icon .cls-2-tbr {
    fill: #231f20;
}

#facebook_icon:hover .cls-1-fb, #twitter_icon:hover .cls-1-twt, #instagram_logo:hover .cls-2-ins, #youtube_icon:hover .cls-1-yt, #reddit_icon:hover .cls-1-reddit, #tumblr_icon:hover .cls-1-tbr{
    fill: #231f20;
}

#facebook_icon:hover .cls-2-fb, #twitter_icon:hover .cls-2-twt, #instagram_logo:hover .cls-1-ins, #youtube_icon:hover .cls-2-yt, #reddit_icon:hover .cls-2-reddit, #tumblr_icon:hover .cls-2-tbr{
    fill: #fff;
}

#blast_off {
    grid-column: 4/6;
    text-align: center;
    margin-bottom: 20px;
}

#blast_off p {
    font-size: 16px;
}

#blast_off:hover p {
    color: white;
}

#company_credit {
    grid-column: 4/6;
    text-align: center;
}

#company_credit p {
    font-size: 24px;
    font-family: 'Showcard Gothic', Arial, sans-serif;
}

/* 10. Error 404 */

#error404 {
    margin-bottom: 20px;
    width: 1200px;
    height: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

#error404 img {
    position: absolute;
    opacity: 70%;
    height: 700px;
}

#error404 p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    position: relative;
}

#error404 p:last-of-type {
    margin-bottom: 0px;
}

#contact_form {
    grid-column: 3/7;
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact_form p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    text-align: center;
}

#inquiry {
    margin-bottom: 20px;
}

#preferred_name, #email, #subject {
    height: 30px;
    width: 450px;
}

#comments {
    height: 150px;
    width: 450px;
}

#send {
    height: 35px;
    width: 70px;
    background-color: #231f20;
    color: white;
    border: 1px white solid;
}