/* 1. General Styles */

.hidden {
    display: none;
}

p {
    font-size: 20px;
    font-family: 'Itim', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #231f20;
}

a {
    text-decoration: none;
    color: #231f20;
}

.boxcolour {
    background-color: #AFAFAF;
}

.boxcolour2 {
    background-color: #7B7B7B;
}

.boxcolour3 {
    background-color: #3B3B3B;
}

section, header {
    margin-top: 0;
    margin-bottom: 20px;
}

.topbottom {
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

/* 2. Container and Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 98px);
    grid-column-gap: 12px;
    grid-auto-rows: 0px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 98px);
    grid-column-gap: 12px;
    grid-auto-rows: 0px;
}

#container {
    width: 428px;
    margin: 0 auto;
    background-image: url(../images/starry_background.jpg);
    display: grid;
}

/* 3. Header */

#main_header {
    display: grid;
    height: 170px;
    width: 428px;
    position: fixed;
    z-index: 1;
}

#header_logo {
    height: 100px;
    width: 207px;
    margin-top: 30px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

#top_logo {
    height: 100px;
}

#top_logo:hover .cls-1-logo, #bottom_logo:hover .cls-1-bottom {
    fill: #f4f4f5;
}

#hamburger {
    height: 110px;
    width: 207px;
    grid-column: 3/-1;
    margin-top: 30px;
}

.hamburger_menu {
    display: block;
    height: 5px;
    width: 110px;
    margin-top: 23px;
    margin-left: 49px;
    background-color: #231f20;
}

.hamburger_menu:first-of-type {
    margin-top: 27px;
}

/* 4. Visual Appeal */

#visual_appeal {
    height: 527px;
    width: 428px;
    grid-column: 1/-1;
    padding-top: 170px;
}

/* 5. Flavours */

#flavours {
    height: 542px;
    width: 428px;
    grid-column: 1/-1;
}

#flavours_slider {
    height: 260px;
    width: 428px;
    margin-top: 33px;
    grid-column: 1/-1;
}

#flavours_text {
    height: 185px;
    width: 428px;
    margin-top: 325px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

#flavours_text p:last-of-type {
    margin-top: 20px;
}

/* 6. Collab */

#collab {
    height: 525px;
    width: 428px;
    text-align: left;
}

#new_flavour {
    height: 300px;
    width: 208px;
    grid-column: 1/3;
    margin-top: 15px;
}

#mascot {
    height: 300px;
    width: 208px;
    grid-column: 3/-1;
    margin-top: 15px;
}

#collab_info {
    height: 180px;
    width: 428px;
    margin-top: 330px;
    background-image: radial-gradient(#F90EFC 30%, #8A28C8);
}

#collab_info p:first-of-type {
    text-align: center;
    text-shadow: #FF0705 2px 2px;
    margin-top: 5px;
}

#imposter_flavour {
    color: #FF0705;
    text-shadow: black 2px 2px;
}

#innersloth:hover {
    color: white;
}

#information {
    height: 542px;
    width: 428px;
    grid-column: 1/-1;
}

#slider_indicator {
    grid-column: 2/4;
}

.circle {
    height: 26px;
    width: 26px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 496px;
    margin-right: 10px;
}

.circle:first-of-type {
    margin-left: 55px;
}

/* 8. Updates */

#updates {
    height: 1242px;
    width: 428px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#update_1 {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}

#update_2 {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}

#update_3 {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}

.updatebox {
    height: 400px;
    width: 208px;
    grid-column: 2/4;
    display: inline-block;
    margin-bottom: 20px;
    grid-column: 2/4;
}

#update_1 p:first-of-type, #update_2 p:first-of-type, #update_3 p:first-of-type {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.updateimage {
    height: 200px;
    width: 208px;
}

/* 9. Footer */

#main_footer:not(#logo_footer) {
    height: 769px;
    width: 428px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo_footer  {
    height: 110px;
    width: 207px;
    display: flex;
    justify-content: center;
}

#bottom_logo {
    height: 110px;
}

#social_media_icons {
    height: 90px;
    width: 428px;
    grid-column: 1/-1;
}

#footer_nav {
    height: 200px;
    width: 428px;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#mobile-bottom-nav-1 li, #mobile-bottom-nav-2 li {
    font-family: 'Showcard Gothic';
    font-size: 16px;
    padding-bottom: 8.5px;
    border-bottom: #231f20 1px solid;
    margin-left: 30px;
    margin-top: 10px;
    width: 150px;
}

#mobile-bottom-nav-1 {
    padding-right: 25px;
    border-right: 1px solid black;
}

#mobile-bottom-nav-1 li:last-of-type, #mobile-bottom-nav-2 li:last-of-type {
    border-bottom: none;
}

#mobile-bottom-nav-1 li a:hover, #mobile-bottom-nav-2 li a:hover {
    color: white;
}

#newsletter {
    height: 150px;
    width: 410px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newsletter_signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#newsletter p {
    text-align: center;
}

#email-news {
    margin-top: 20px;
    height: 40px;
    width: 335px;
}

#submit {
    margin-top: 20px;
    height: 35px;
    width: 70px;
    background-color: #231f20;
    color: white;
}

#send:hover, #submit:hover {
    background-color: white;
    color: #231f20;
}

.smicons {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10.8px;
}

.smicons:first-of-type {
    margin-left: 27px;
}

.smicons:last-of-type {
    margin-right: 27px;
}

#facebook_icon:hover .cls-2-fb, #twitter_icon:hover .cls-2-twt, #instagram_logo:hover .cls-1-ins, #youtube_icon:hover .cls-2-yt, #reddit_icon:hover .cls-2-reddit, #tumblr_icon:hover .cls-2-tbr{
    fill: #231f20;
}

#blast_off p {
    font-size: 16px;
}

#blast_off:hover p {
    color: white;
}

#company_credit p {
    font-size: 20px;
    font-family: 'Showcard Gothic', Arial, sans-serif;
}

/* 10. 404 */

#error404 {
    width: 428px;
    height: 642px;
    padding-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

#error404 img {
    position: absolute;
    opacity: 70%;
    width: 428px;
}

#error404 p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    position: relative;
}

#error404 p:last-of-type {
    margin-bottom: 0px;
}

/* 11. Contact Form */

#contact_form {
    height: 642px;
    width: 428px;
    padding-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact_form p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    text-align: center;
}

#inquiry {
    margin-bottom: 20px;
}

#preferred_name, #email, #subject {
    height: 30px;
    width: 250px;
}

#comments {
    height: 150px;
    width: 250px;
}

#send {
    height: 35px;
    width: 70px;
    background-color: #231f20;
    color: white;
    border: 1px white solid;
}